*
{
	box-sizing: border-box;
}

body
{
	padding:1rem;;
}

h1
{
		position:fixed;

}
.column
{
	margin-top:4rem;
	float:left;
	padding:1rem;
}

.feed_list
{
	width:35%;
	position:fixed;
}

.articles
{
	width:65%;
	margin-left:35%;
}

ul
{
	list-style:none;
	margin:0;
	padding:0;
}

li
{
  margin: 1rem 0;
	padding:0;
	width:100%;
}


.feed_list input
{
	width:100%;
}

.articles .date
{
	font-size:0.8em;
	display:block
}